* {
  box-sizing: border-box;
  margin: 0px;
}
.background {
  width: 1024px;
  height: 600px;
  background-image: url("./img/background.png");
  padding: 20px 0px 0px 20px;
}
.outerbox {
  width: 808px;
  height: 544px;
  background-image: url("./img/outerbox.png");
}
.wrapper {
  display: flex;
  flex-direction: row;
  padding: 32px 0px 0px 32px;
  padding-top: 45px;
}
.wrapper__left {
  width: 208px;
  height: 472px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.wrapper__left__header {
  width: 100%; /*208px*/
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.today {
  font-size: 9px;
}
.wrapper__left__body {
  width: 100%; /*208px*/
  height: 100%; /*472px에서 30px을 뺀 나머지의 100%를 채우게 된다.*/
  border: 1px solid gray;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}
.left__body__header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.left__body__header__gray {
  width: 148px;
  height: 133px;
  background-color: gray;
}
.left__body__header__line {
  border-top: 1px dotted black;
  margin: 12px 0px;
}
.left__body__profile {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.ele {
  font-size: 9px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}
.left__body__footer {
  display: flex;
  flex-direction: column;
}
.feeling {
  font-size: 12px;
}
.feeling2 {
  display: flex;
  flex-direction: row;
}
.wrapper__right {
  width: 524px;
  height: 472px;
  background-color: white;
  border-radius: 15px;
  margin-left: 7px;
}
.wrapper__right__header {
  display: flex;
  flex-direction: row;
}
.wrapper__right__header__f1 {
  margin-left: 8px;
  color: #55b2d4;
  font-family: Malgun Gothic;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.wrapper__right__header__f2 {
  margin-left: 300px;
  width: 78px;
  height: 18px;
  flex-shrink: 0;
  color: #000;
  font-family: PFStardust;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
}
.wrapper__right__body {
  display: flex;
  flex-direction: column;
}
.wrapper__right__body_f {
  display: flex;
  flex-direction: row;
}
.wrapper__right__body__f1 {
  margin-left: 10px;
  margin-top: 10px;
  color: #55b2d4;
  font-family: Malgun Gothic;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.wrapper__right__body__f2 {
  margin-left: 10px;
  margin-top: 13px;
  color: #000;
  font-family: Sci Fied Bitmap;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}
.line2 {
  margin-top: 10px;
  margin-left: 10px;
  width: 500px;
  height: 1px;
  background: #999;
}
.wrapper__right__body_lay1 {
  width: 222px;
  height: 168px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #999;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.끝말잇기 {
  color: #000;
  text-align: center;
  font-family: Malgun Gothic;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.제시어 {
  color: #999;
  text-align: center;
  font-family: Malgun Gothic;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.결과 {
  color: #999;
  text-align: center;
  font-family: Malgun Gothic;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.검색 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 20px;
}
.search {
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper__right__body_lay2 {
  width: 222px;
  height: 168px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #999;
  background: #f6f6f6;
}
.lay {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lotto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 5px;
  width: 130px;
  height: 21px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #000;
  background: #ffe400;
  margin-left: 4px;
  margin-right: 5px;
  color: #000;
  text-align: center;
  font-family: Malgun Gothic;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.game__lotto__button {
  width: 62px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #000;
  background: #fff;
  font-weight: 700;
}
.button_result {
  color: #010101;
  text-align: center;
  font-family: Malgun Gothic;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
